header {
    color: black;
}
li {
    display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: black;
        padding: 5%;
        border-color: black;
        border-width: 15px;
        border-style: solid;
        border-radius: 12px 50px 2px 120px;
    }

nav a:hover {
    color: white;
    text-decoration: underline;
}
p{
    font-size: large;
}